block variables
- var DATA = self.htmlWebpackPlugin.options.DATA

doctype html
html(lang="en" dir="ltr")

  include ./includes/head.pug

  head
    +head(DATA)

  //- Add .debug if you want to see the values of the ball and the rotation
  body
    div.informative
      p.informative__coordinate.informative__coordinate--x= 'Ball Coordinate X: '
        span
      p.informative__coordinate.informative__coordinate--y= 'Ball Coordinate Y: '
        span

    section.follow-ball
      - let n = 0;
      span.ball
      ul.follow-ball__wrapper
        while n < 9
          li.follow-ball__container
            span(class=Math.floor(9 / 2) === n ? "follow-ball__square--no-follow" : "follow-ball__square")= n++
