// Ball
$follow-ball--background: #8bc34a;
$follow-ball--size: 40px;
// Squares
$follow-ball--square--background-color: $follow-ball--background;


body,
section {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.informative {
  right: 5%;
  top: 2.5%;
  position: fixed;
  z-index: 2;

  &__coordinate {
    margin: 15px 0 0;
    line-height: 1;
  }
}

.ball {
  --ball-left-position: 50%;
  --ball-top-position: 50%;

  background-color: $follow-ball--background;
  border-radius: 50%;
  display: block;
  left: var(--ball-left-position);
  height: $follow-ball--size;
  pointer-events: none;
  top: var(--ball-top-position);
  position: absolute;
  width: $follow-ball--size;
}

.follow-ball {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100vw;
  --rotate-X: 0deg;
  --rotate-Y: 0deg;

  &--show-cartisian {

    &:before,
    &:after {
      background-color: red;
      content: "";
      position: absolute;
    }

    &:before {
      width: 100%;
      height: 1px;
    }

    &:after {
      width: 1px;
      height: 100%;
    }
  }

  &__wrapper {
    display: grid;
    grid-gap: 100px;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__container {
    perspective: 1000px;
    perspective-origin: center;
  }

  &__square {
    display: inline-block;
    background-color: $follow-ball--square--background-color;
    min-height: 100%;
    text-align: center;
    vertical-align: middle;
    transform: rotateY(var(--rotate-Y)) rotateX(var(--rotate-X));
    width: 100%;

    &--no-follow {
      visibility: hidden;
    }
  }
}
