$sphere: 75%;

body {
  color: #fff;
  margin: 0;
  height: 200vh;
  background-color: #181717;
}

section {
  width: 100%;
}

.intro {
  background-color: #ffffff;
}

.intro {
  position: relative;
}

.start-sphere {
  padding-top: 10vh;
  height: 60vh;
}

.sphere {
  background-color: #fff;
  border-radius: 50%;
  display: block;
  margin-left: -5%;
  width: $sphere;
  padding-top: $sphere;
}
