$sphere: 500px;

body {
  color: #fff;
  margin: 0;
  min-height: 500vh;
  background-color: #181717;
  font-family: "Dynalight", cursive;

  &:before {
    border-bottom: 1px solid red;
    content: "Animation Trigger";
    height: 1px;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate3d(0, -50%, 0);
    width: 50px;
    z-index: 99999;
  }
}

section {
  width: 100%;
}

.intro {
  background-color: #ffffff;
  height: 60vh;
  position: relative;
}

.ball-animation {
  height: 100vh;
}

.pin-wrapper {
  height: 300vh;
  position: fixed;
  width: 100%;
}

.word {
  color: #ffffff;
  font-size: 20vw;
  letter-spacing: 2vw;
  //opacity: 0;
  margin: 0;
  text-align: center;
  width: 100%;

  &__single,
  &__character {
    opacity: 0;
  }

  &__character {
    position: relative;
    display: inline-block;

    &--wrapper {
      opacity: 1;
    }
  }

  &__ball {
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    margin-left: 30px;
    height: 30px;
    position: absolute;
    top: 32%;
    width: 30px;
  }
}
